@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  background-color: var(--light-gray);
}

.project-container {
  margin-top: 150px;
  margin-left: 330px;
  margin-right: 330px;
  border-radius: 20px;
  background-color: var(--white);
}

.content {
  padding: 15px;
}

img {
  border-radius: 20px;
  max-width: 100%;
  max-height: auto;
}

.design-size {
  width: 250px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: var(--dark-blue);
  font-family: "Outfit";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

p {
  color: var(--grayish-blue);
  font-size: 15px;
  font-family: "Outfit";
  font-weight: 400;
  text-align: center;
}
